/**
  Title: Brooke Taylor Portfolio
  Author: Brooke Taylor
  Date: 11/08/23
  Description: BT Portfolio Styles.
*/

@import './App.scss';



/* ********** SMALL SCREEN < 641 ********** */ 
@media only screen and (max-width: 640px) {

  .grid-container {
      grid-template-columns: auto;
  }

  .homepage {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    img {
      max-width: 450px;
      margin: auto;
    }

    p {
      text-align: left;
      padding: 1em;
    }
  }

  .resume {
    padding: 1em;
  }

  .card {
    padding: 1em;
  }


}


/* ********** MEDIUM SCREEN >640 ********** */ 
@media only screen and (min-width: 641px) {

  .grid-container {
      grid-template-columns: auto auto;
  }

  .homepage {
    .row {
      grid-template-columns: auto auto;
      max-width: 800px;
    }
  }

  .resume {
    padding: 3em;
  }

  .card {
    padding: 3em;
  }


}



/* ********** LARGE SCREEN > 1007 ********** */ 
@media only screen and (min-width: 1008px) {
    
  .grid-container {
      grid-template-columns: auto auto auto;
  }
  
  .resume {
    padding: 5em;
  }

  .card {
    padding: 5em;
  }


}














/* ********** CARD ********** */ 
.card-title {
  font-size: xx-large;
  text-align: center;
  padding: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
  border-radius: 25px !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.grid-container {
  display: grid;
  margin-top: 3em;
  margin-bottom: 3em;
}

.grid-container > div {
  margin: 1em;
  padding: 1em;

  h2 {
    text-align: center;
  }
}

.grid-container img {
  max-width: 100%;
}


/* ********** CARD ********** */ 







/* ********** HOMEPAGE ********** */ 
/** React Spinner effect */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 4s linear infinite;
}

.homepage {

  h1 {
    text-align: center;
    padding: 1em;
  }

  .row {
    display: grid;
    padding-bottom: 3em;
  }

  img {
    width: 100%;
  }

}


/* ********** HOMEPAGE ********** */ 







/* ********** RESUME ********** */ 
.resume {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 8.27in;;

  h2,h3 {
    text-align: center;
  }

  
.btn {
  background-color: #673ab7;
  color: #b7a63a;
  padding: .5em;
}

.btn:hover {
  background-color: #673ab7;
  color: #b7a63a;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.btn a:link {
  text-decoration: none;
  color: #b7a63a;
}

.btn a:visited {
  text-decoration: none;
  color: #b7a63a;
}

}
/* ********** RESUME ********** */ 








/* ********** DATABASE DIAGRAMS ********** */ 
.DatabaseDiagrams ul li {
  list-style: none;
}

/* ********** DATABASE DIAGRAMS ********** */ 









/* ********** DEVOPS PRESENTATIONS ********** */ 
video {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  max-width: 750px;
}

.devops {
  min-height: 75vh;
}

/* ********** DEVOPS PRESENTATIONS ********** */ 










/* ********** ABOUT ME ********** */ 
.about-me {
  .row {
    max-width: 800px;
    margin: auto;
    display: flex;

  }

  img {
    margin: auto;
  }

  .custom-carousel img {
    max-width: 250px;
  }
}


@media only screen and (max-width: 799px) {
  .about-me {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    p {
      text-align: left;
      padding-left: 1em;
      padding-right: 1em;
    }

  }
}

@media only screen and (min-width: 800px) {
.about-me {

  .row {
    grid-template-columns: auto auto;
    max-width: 800px;
  }

  .custom-carousel {
    max-width: 400px;
  }

}
}

/* ********** ABOUT ME ********** */ 
